*{
    margin: 0;
    padding: 0;

}

body{
   background-image: url("./images/pozadina.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   align-items: center;
   text-align: center;
   justify-content: center;
   margin: 0px;
}

.title{
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;  
    margin-right: 25vw;
    margin-left: 25vw;
    font-weight: bolder;
    color:black;
    border-bottom: 2px solid black;
}



.Love {
    width: 18%;
    height: 18%;
    border: 4px solid black;
    border-radius: 5%;
    margin-top: -150px;
}


.pics{
    justify-content: center;
    text-align: center;
    align-items: center;    
    justify-self: center;
}

@media (max-width: 500px){
    .title{
        text-align: center;
        margin-top: 50px;
        font-size: 1.5rem;
        margin-right: 25vw;
        margin-left: 25vw;
        font-weight: bolder;
        color:black;
        border-bottom: 2px solid black;
    }
   

    body{
        background-size:auto;
        background-image: url("./images/pozadina.jpg");
    }

    .Love{
        width: 63%;
        height: 63%;
    }
}
  
